body {
text-align:center
}

.navbar {
    font-family: Helvetica;
    font-size: 18px;
    color: white;
    
}

.heading {
    background-image: url("images/the-flatiron-building.png");
}

.tophead {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

.second {
    background-image: url("images/the-flatiron-building.png");
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
}

p {
    font-family: Helvetica;
    font-size: 14px;
}

.bottom {
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
}